@model ReservationModel

@{
    ViewData["Title"] = "CreateEvent";
}

<h1 class="display-4">Dodaj wydarzenie</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateEvent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <textarea asp-for="Name" class="form-control"></textarea>
                <span asp-validation-for="Name" class="text-danger"></span>
                <label asp-for="DescriptionEvent" class="control-label"></label>
                <textarea asp-for="DescriptionEvent" class="form-control"></textarea>
                <span asp-validation-for="DescriptionEvent" class="text-danger"></span>
                <label asp-for="AvailableSeats" class="control-label"></label>
                <textarea asp-for="AvailableSeats" class="form-control"></textarea>
                <span asp-validation-for="AvailableSeats" class="text-danger"></span>
                </div>
            
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a  asp-action="Index">Wróć do listy wydarzeń</a>
</div>


